server:
  port: 8761

spring:
  application:
    name: service-registry
  security:
    user:
      name: admin
      password: admin
  datasource:
    url: jdbc:h2:mem:registrydb
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
