server:
  port: 8083

spring:
  application:
    name: transaction-service

  datasource:
    url: jdbc:h2:mem:transactiondb
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: admin
      password: admin

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@localhost:8761/eureka/
